/* General style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
}

#container{
  background-image: url(../img/natural-pattern.png);
  padding: 20px 30px;
  width: 1000px;
  max-width: 100%;
  margin: 30px auto;
  border: 3px solid black;
}

main {
  padding: 10px 0;
}

main::after {
  content:'';
  display: table;
  clear: both;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: text-shadow: 2px 2px #FF0000;
}

/* header */
.header-top {
  padding: 20px 5px;
  text-align: center;
  border: 6px solid #fff;
  background-image: url(../img/natural-header.jpg);
  background-size: cover;
}
header .header-top img {
  width: 50%;
}
header .header-top h2 {
 color: #fff;
}
/* nav */
nav  {
  width: 100%;
  height: 40px;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  background-color: #686868;
}
nav li {
  padding-top: 8px;
  display: inline-block;
  margin-left: 20px;
}
nav li a {
  text-decoration: none;
  color: #fff;
}
/* main */

/* col left */
/* parte titolo e logo */
.col {
  float: left;
  border-radius: 5px;
}
.col-left{
  background-color: #fff;
  width: 20%;
  height: 280px;
}
.title-left::after {
  content: '';
  display: table;
  clear: both;
}
.icon {
  float: left;
  color: orange;

}
.themes {
  float: left;
}
.themes h2 {
  font-size: 1.2em;
  margin-left: 5px;
}
/* parte indirizzi */
.indirizzi li {
  line-height: 20px;
  list-style-type: none;
  margin-top: 10px;
}
.indirizzi li a{
  text-decoration: none;
  color: green;
}

section {
  background-color: purple;
  height: 500px;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.col-right {
    background-color: #f400a1;
    width: 20%;
    height: 200px;
    margin-bottom: 20px;
}

/* footer */
footer {
  background-color: lightblue;
  height: 100px;
}
